/* header container */
.header-container {
  position: relative;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* common styles----------------- */

/* section our team*/
/* .section.section-portfolio {
  color: #2e2f42;
} */

/* h3 style */

/* section team */
.team-section {
  background-color: #f4f4fd;
}

/* section hero */

/* (p)articles styles */

/* page navigation -----------------*/
.nav {
  display: flex;
  align-items: center;
}
.nav-page {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-page:hover,
.nav-page:focus {
  color: #404bbf;
}
.pseudo-element {
  position: relative;
  color: #404bbf;
}

.nav-page.pseudo-element::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
  display: flex;
  gap: 40px;
}

/* ---------------- ------------*/
/* address */
.address {
  display: flex;
  font-style: normal;
}
.address-block {
  display: flex;
  gap: 40px;
}
.address-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* section hero----------- */

/* ul features2*/
.features {
  padding: 120px 0 120px;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
}
.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
/* .article-work text {
} */
/* page section 3 ---------------------*/

/* page-portfolio  section 4*/
.page-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.size-portfolio {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.size-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.size-portfolio:hover p {
  transform: translateY(0%);
}
.images-portfolio {
  position: relative;
  overflow: hidden;
}
.text-transform {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.article-team,
.title-portfolio.title {
  margin-bottom: 8px;
}
.category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.category:hover {
  border: 1px solid #f4f4fd;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* footer */
.footer.page {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container.footer-container {
  display: flex;
  align-items: baseline;
}
/* .footer-wrapper {
  margin-right: 120px;
} */
.footer-logo {
  align-items: center;
  flex-shrink: 0;
}
.footer-logo.block {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-aside {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-wrapper {
  margin-right: 120px;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  font-family: Roboto;

  font-style: normal;
}
.social-wrapper {
  display: flex;
  gap: 16px;
}
.social-list {
  width: 40px;
  height: 40px;
}

.social-link.footer:hover,
.social-link.footer:focus {
  background-color: #31d0aa;
}
.footer-icon {
  fill: #f4f4fd;
}
.container-wrapper {
  margin-left: auto;
}
.wrapper-caption {
  margin-bottom: 16px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* .subscribe-form-field {
} */
.subscribe-form-input {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  padding: 8px 16px;

  line-height: 2;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  background-color: transparent;
  /* background: #2e2f42; */
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  color: #fff;
}
.subscribe-form-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.subscribe-form-icon {
  fill: #fff;
  margin-left: 16px;
}
.subscribe-form-btn:focus,
.subscribe-form-btn:hover {
  background-color: #404bbf;
}
/* backdrop ----------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
/* modal form-reviews-------------------- */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
}
.modal-btn {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: #404bbf;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-caption {
  margin-bottom: 16px;
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-label-wrapper {
  margin-bottom: 8px;
}
.form-label-wrapper.comment {
  margin-bottom: 16px;
}
.form-field {
  position: relative;
}
.form-input {
  border: none;
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
/* form comment-------- */
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border-color: #4d5ae5;
}

/* footer checkbox--------- */
.form-label-accept {
  margin-bottom: 24px;
}
/* .footer-checkbox {
}
.visually-hidden {
} */
.user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.footer-checkbox:checked + .user-privacy > .checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.footer-checkbox-link {
  color: #4d5ae5;
}
/* button form---------- */
.modal-send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* align-items: flex-start; */
}
/* .modal-form {
} */
.modal-send:hover,
.modal-send:focus {
  background-color: #404bbf;
}
